CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

python_venv/**

third_party/pcl**
third_party/ceres-solver**
third_party/GTSAM**
third_party/opencv**
third_party/Eigen**
*.pyc
