CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

.vscode**

python_venv/**
.idea/**
.venv/**
__pycache__

thirdparty/**
!thirdparty/packages.yaml
!thirdparty/install_evo.sh
!thirdparty/create_venv.sh
*.pyc

