name: CI

on:
  push:
    branches:
    - main
    - develop
  pull_request:
    branches: [develop]

env:
  GET_REPO: export REPO=${GITHUB_REPOSITORY#*/}
  GET_HASH: export HASH${GITHUB_SHA}

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2
      - name: Build Docker image
        run: |
        eval $GET_REPO
        eval $GET_HASH
        echo "=== Build start==="
        
        echo ${HASH}
        echo ${REPO}
        echo ${{ github.head_ref }}
        
        cd Dockerfiles
        docker build --force-rm --no-cache -f Dockerfile -t "${REPO}:${HASH}" --build-arg BRANCH=${{ github.head_ref }} .
        echo "=== Build finished==="

      - name: Clean up Docker image if build fails
        if: failure()
        run: |
        echo "=== Remove failed image start==="
        docker rmi -f $(docker images f "dangling=true" -q)
        docker images 
        echo "=== Removal finished==="
        
